- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
- function date_now_format() { var date = new Date(); return date.getFullYear() + "_" + ( date.getMonth() + 1 ) + "_" + date.getDate() + "_" + date.getHours() + "_" + date.getMinutes() + "_" + date.getSeconds();     }
- var time = date_now_format();
- var min = devMode ? "" : ".min"
doctype
html
  head
    meta(charset='UTF-8')
    title ReactJS
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
  body
      #root
        <!-- #{time} -->
        
