*
  font-family: 'Roboto', sans-serif;
h1
  font-size 80px

body.animate
  main
    overflow: hidden
main
  display: block
  position relative
  overflow: auto

transitionEase = cubic-bezier(0.215, 0.61, 0.355, 1)    
transitionTime = 0.5s
transitionValue
  transition all transitionTime transitionEase

.fade-appear
.fade-enter 
  opacity 0
  transform scale(1.12) translateX(50px) 

.fade-appear-active
.fade-enter-active
  @extend transitionValue
  transform-origin 0 50%
  opacity 1
  transform: translateX(0) translateZ(0)


.fade-exit 
  @extend transitionValue
  opacity 1

.fade-exit-active 
  transform: translateX(-50px)
  position absolute
  top 0
  opacity 0