.device-root
  .row
    margin 30px 0
    &:first-child
      margin 0 0 30px 0
    .device-item
      .label
        font-size 20px
        font-weight bold
      &.true
        .value
          background-color #41b883