.device-info-root
  .row
    margin-top: .5rem
  // width 100%
.device
  &__item
    &.true
      .inner
        color white
        padding 5px
        border-radius: 3px
        background-color #338a3e

    label
      font-size 1.5rem